@import url('https://fonts.googleapis.com/css2?family=Lobster&family=REM&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'REM', sans-serif;
}

.main-container {
  display: flex;
}

.side-bar {
  position: relative;
  background-image: url("./assets/sidebar-bg.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 20vh;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.logo h1 {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  color: #fff;
  letter-spacing: 5px;
}

.bg-photo-credit {
    position: absolute;
    bottom: 10px;
    display: inline;
    right: 50%;
    transform: translateX(50%);
    color: rgb(8, 8, 8);
    white-space: nowrap;
}

.bg-photo-credit a {
    text-decoration: none;
    color: rgb(8, 8, 8);
}

.form-container {
  background-color: whitesmoke;
  padding: 50px;
}

.form-container > p {
  margin: 30px 30px 25px 0;
  line-height: 30px;
  font-weight: bold;
}

.form {
  background-color: #fff;
  position: relative;
  padding: 40px;
  margin: 0 -50px;
  transition: 0.3s ease-in-out;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0.25);
}

.form p {
  position: absolute;
  top: 5px;
  font-weight: 600;
}

.form-flex-container {
  display: flex;
  gap: 50px;
}

.form-left-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-right-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form label {
  text-transform: uppercase;
  font-size: 14px;
}

.form input {
  padding: 5px 20px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
}

.form input:focus {
  border: 1px solid blue;
  box-shadow: 0 0 2px rgba(0, 0, 0.15);
}

.form input:invalid {
  border: none;
  outline: 1px solid red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
}

.form + button {
  padding: 10px 30px;
  margin: 20px 0;
  background-color: rgb(254, 186, 103);
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.form + button:hover {
  cursor: pointer;
}

.form + button + p a{
  text-decoration: none;
  color: black;
}

